div ion-item{
    line-height: 50px;
    font-weight: 770;
    text-decoration: none;
}
.hh1{
    color: rgba(22, 191, 67, 0.895);
    margin-left: 45px;
    font-size: 20px;
    font-weight: bold;
}
ion-title{
    margin-top: 15px;
    font-weight: bold;
}
span{
    font-size: 15px;
}