<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings <br> <span>  Release by Bilal </span></ion-title> 
   

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item> <ion-icon color="primary" name="megaphone"></ion-icon> Heads Up!</ion-item>
    <ion-item  routerLink="/interface"> <ion-icon color="success" name="phone-portrait-outline"></ion-icon> Interface</ion-item>
    <ion-item> <ion-icon color="success" name="notifications-outline"></ion-icon> Notification</ion-item>
    <ion-item> <ion-icon color="success" name="calendar-number-outline"></ion-icon> Calender Sync</ion-item>
    <ion-item> <ion-icon color="success" name="cloud-circle"></ion-icon> Backup</ion-item>
    <ion-item> <ion-icon color="success" name="apps-outline"></ion-icon> Widget</ion-item>
    <ion-item> <ion-icon color="success" name="settings-outline"></ion-icon> Advanced</ion-item>
  </div>


    <div class="ion-padding">
      <ion-text class="hh1"> Join our communities</ion-text>
      <ion-item> <ion-icon color="success" name="logo-facebook"></ion-icon> Facebook </ion-item>
      <ion-item> <ion-icon color="success" name="logo-twitter"></ion-icon> Twitter</ion-item>
      <ion-item> <ion-icon color="success" name="logo-reddit"></ion-icon> Reddit </ion-item>
    </div>

    <div class="ion-padding">
      <ion-text class="hh1"> Help us</ion-text>
      <ion-item> <ion-icon color="success" name="heart"></ion-icon> Rate TimeTune </ion-item>
      <ion-item> <ion-icon color="success" name="language"></ion-icon> Help us translate</ion-item>
    </div>

    <div class="ion-padding">
      <ion-text class="hh1"> About</ion-text>
      <ion-item> <ion-icon color="success" name="information-circle"></ion-icon> About </ion-item>
      <ion-item> <ion-icon color="success" name="earth"></ion-icon> Website & Blog</ion-item>
      <ion-item> <ion-icon color="success" name="document-text"></ion-icon> End-User License Agreement </ion-item>
      <ion-item> <ion-icon color="success" name="document-text"></ion-icon> Privacy policy </ion-item>
    </div>

    <div class="ion-padding">
      <ion-text class="hh1"> Try our other apps</ion-text>
      <ion-item> <ion-icon color="success" name="logo-paypal"></ion-icon> Periodically </ion-item>
    </div>
</ion-content>
